body{
	background-color: rgb(200, 200, 200);
	color: rgb(30, 30, 30);
	font-family: Didot, serif;
	font-size: 15px;
	font-weight: 50;
	text-align: justify;
	text-decoration: none;
	background-image: url("")
}

h1, h2{
	font-family: mystery-quest-regular;
    font-family: "Mystery Quest", system-ui;
}

h1{
	color: #001F3F;
	font-weight: 750;
	letter-spacing: 1px;
	font-size: 60px;
}
h2{
	color: #384B70;
	font-weight: 100;
	font-size: 30px;
}

a {
	text-decoration: none;
	color: darkblue;
	font-weight: 800;
	transition: color 0.3s ease;
}

a:hover{
	color: black;
}
.img-circle {
	border-radius: 50%;
}
.shadowed {
	box-shadow: 5px 5px 3px black;
}
#leader {
	border: 5px solid black; 
	width: 200px;
	height: 200px;
}

/*design with class */
.container {
      width: 700px;
      margin: 40px auto;
}
@media (max-width: 960px){
	.container{
		width: 700px;
	}
}
@media (max-width: 760px){
	.container{
		width: 600px;
	}
}
@media (max-width: 500px){
	.container{
		width: 400px;
	}
}

.card-white{
	background: white;
    padding: 60px;
    margin: 50px;
    box-shadow: 0px 10px 30px rgb(0,0,0,0,0.1);
    border-radius: 4px;
    text-align: center;
}
.btn-blue {
	background-color: #384B70;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}
.btn-blue:hover {
	background-color: darkslateblue;
	color: skyblue;
}
.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size: 60px;
	color: rgb(230, 230, 230);
}
.list-inline i:hover {
	color: black;
}
#introduction p {
	margin-bottom: 40px;
}